<% if current_host %>
<div class="container page-padding">
  <div class="d-flex align-items-center justify-content-between divider-bottom">
    <div class="d-flex align-items-center">
      <h1 class="m-0 ms-3"><%= current_host.first_name %> <%= current_host.last_name %></h1>
    </div>
    <%= link_to "", edit_host_registration_path, class: "fa-regular fa-pen-to-square btn btn-sm" %>
  </div>

  <div class="d-flex flex-column mb-4 divider-bottom">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="m-0 neon-underline">Bookings</h2>
      <%= link_to "See all", bookings_path, class: "button-primary"  %>
    </div>
  </div>
